*{
    margin: 0;
    padding: 0;


}
body{
    
    font-family: 'Times New Roman', Times, serif;

}
.nav1{
    background-color: rgb(169, 169, 18);
    color:blue;
}
.cards{
    font-style: italic;
    columns: 3;

}

h2{
    text-align: center;
}



.aboutus{
    background-color: rgb(191, 244, 106);
    margin-block: 20px;

}
.contact{
    border: 2px solid black;
    margin: 300px;
    margin-top: 50px;
}